<h1>Message Dashboard</h1>
<table>
  <tr>
    <th>Message Queue</th>
  </tr>
  <% @user_list_messages_queued.each do |message| %>
    <tr>
      <td><%= message.user.firstname %></td>
      <td><%= message.user.lastname %></td>
      <td><%= message.user.id_number %></td>
      <td><%= @user_ids_queued[message.user.id_number] %></td>
    </tr>
  <% end %>
</table>
<table>
  <tr>
    <th>Sent Messages</th>
  </tr>
  <% @user_list_messages_sent.each do |message| %>
    <tr>
      <td><%= message.user.firstname %></td>
      <td><%= message.user.lastname %></td>
      <td><%= message.user.id_number %></td>
      <td><%= @user_ids_sent[message.user.id_number] %></td>
    </tr>
  <% end %>
</table>