<table>
  <tr>
    <th>Message Queue</th>
  </tr>
  <% user_ids_queued = [] %>
  <% @messages_queued.each do |message| %>
    <% if user_ids_queued.include?(message.user.id_number) %>
      <% next %>
    <% end %>
    <% user_ids_queued.push(message.user.id_number) %>
    <tr>
      <td><%= message.user.firstname %></td>
      <td><%= message.user.lastname %></td>
      <td><%= message.user.id_number %></td>
    </tr>
  <% end %>
</table>
<table>
  <tr>
    <th>Sent Messages</th>
  </tr>
  <% user_ids_sent = [] %>
  <% @messages_sent.each do |message| %>
    <% if user_ids_sent.include?(message.user.id_number) %>
      <% next %>
    <% end %>
    <% user_ids_sent.push(message.user.id_number) %>
    <tr>
      <td><%= message.user.firstname %></td>
      <td><%= message.user.lastname %></td>
      <td><%= message.user.id_number %></td>
    </tr>
  <% end %>
</table>